<!DOCTYPE html>
<html>
<head>
    <title>TextHose: Paragrahs in <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>TextHose: Paragraph parser</h1>
<h2>Parsed &quot;<%= title %>&quot;</h2>
</body>
</html>
